DATA_LOCATION=

CUSTOM_WORLDS_LOCATION=

# This value needs to be changed to a secret random password
MARIADB_PASSWORD=

### The values below do not need to be changed
### ------------------------------------------
MARIADB_AUTO_UPGRADE=true
MARIADB_RANDOM_ROOT_PASSWORD=true

MARIADB_USER=mariadb
MARIADB_DATABASE=mc