# Minecraft-related settings
# MUST be absolute paths
DATA_LOCATION=

# Database settings
# MUST be absolute paths
DB_DATA_LOCATION=

# This value needs to be changed to a secret random password
MARIADB_PASSWORD=

# Bcrypt hashed passwords. This value needs to be changed accordingly to the original password
# Note that you will need to surround then with single quotation marks
LOKI_PASSWORD=
PROMETHEUS_PASSWORD=


### The values below do not need to be changed
### ------------------------------------------
MARIADB_AUTO_UPGRADE=true
MARIADB_RANDOM_ROOT_PASSWORD=true

MARIADB_USER=mariadb
MARIADB_DATABASE=mc