## OAuth2 Proxy Config File
## https://github.com/oauth2-proxy/oauth2-proxy


### Server Configurations


# Listen for HTTP/HTTPS clients
# Mostly HTTP clients will be used instead
http_address = "0.0.0.0:4180"
https_address = ":443"


### Proxy Configurations


# We are running behind a reverse proxy
# Does not accept X-Real-Ip headers unless set
reverse_proxy = true

# Allow given domains for redirection
whitelist_domains = [
    "*.mineced.org",
    "localhost"
]

### Logging configuration


# Max size for logging in MB before rotation
logging_max_size = 150

# How long should logs be kept before elimination?
logging_max_age = 7

# Compress logs via gzip
logging_compress = true

# How much backups should be stored before elimination?
logging_max_backups = 0


#### Logging formats

# Logging format for:
# - Standard: System and standard information
# - Authentication: Information pertaining to authentication
# - Request: HTTP requests information

standard_logging_format = "[STANDARD]    [{{.Timestamp}}] {{.Message}}"
auth_logging_format = "[AUTH]    [{{.Timestamp}}] [{{.RequestMethod}}/{{.Client}} | ({{.Host}}/{{.Username}}) | {{.Status}}]  {{.Message}}"
request_logging_format = "[REQUEST]    [{{.Timestamp}}] [{{.RequestMethod}}/{{.Client}} - {{.StatusCode}} ({{.RequestURI}}) | ({{.Host}}/{{.Username}})] [{{.Protocol}}, {{.UserAgent}}]"

### Authentication


# Authenticate against htpasswd file for basic auth purposes
# Primarily used for Grafana Datasource configaturions 
htpasswd_file = "/etc/.htpasswd"

# Restrict email domains for authentication
# We only want to allow gmail.com and ucmerced.edu domains
# As we are using GitHub, specifically any GitHub account's primary email will be validated 
email_domains = [
    "gmail.com", 
    "ucmerced.edu"
]

# Restrict authenticated emails by specifying email address
# AKA I'm the only one who can authenticate
authenticated_emails_file = "/etc/auth_emails"

# Skip defined paths for authentication
skip_auth_routes = [
    "GET=^/ping"
]


### OAuth2 Providers


# Set OAuth2 provider to be GitHub
provider = "github"

# Set GitHub users to authenticate against
github_users = [
    "No767"
]

# Oauth2 CLient ID and Secret
client_id = "Iv23lioSukc4JFM10v1t"
client_secret = "6599ee7a50a0bb1e5f296d63fcda39d6ff56d1a0"

# Oauth2 scopes to request
scope = "read:user user:email"

skip_provider_button = true

### Headers Configurations


#### Set Headers

# Allow for NGINX to set 202 and 401 for valid and invalid requests respectively
set_xauthrequest = true

### Cookie Configurations

#### Information
## Name         - the cookie name
## Secret       - the seed string for secure cookies; should be 16, 24, or 32 bytes
##                for use with an AES cipher when cookie_refresh or pass_access_token
##                is set
## Expire       - (duration) expire timeframe for cookie
## Refresh      - (duration) refresh the cookie when duration has elapsed after cookie was initially set.
##                Should be less than cookie_expire; set to 0 to disable.
##                On refresh, OAuth token is re-validated.
##                (ie: 1h means tokens are refreshed on request 1hr+ after it was set)
## Path         - Cookie path to force loading cookies to
## Secure       - secure cookies are only sent by the browser of a HTTPS connection (recommended)
## HttpOnly     - httponly cookies are not readable by javascript (recommended)
cookie_name = "_proxy"
cookie_secret = "4Jzhs1ghpHsUIUMOVBmuUC_OK-jxhFdKnUtuIQOHhls="
cookie_expire = "168h"
cookie_refresh = "1h"
cookie_path = "/"
cookie_secure = true
cookie_httponly = true


#### CSRF Information
## Per Request  - Enable having different CSRF cookies per request, 
##                making it possible to have parallel requests.
## Expire       - (duration) expire timeframe for CSRF cookie
cookie_csrf_per_request = true
cookie_csrf_expire = "5m"